@model IEnumerable<YourLifeSaver.Models.shelter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="features section-bg">

    <div class="container">
        <div class="section-title">
            <p data-aos="fade-in" style="text-align:left"><a href="~/Home">Home</a>&nbsp >> Find a shelter</p>
            <br />
            <h2 data-aos="fade-in">Find a shelter</h2>
        </div>
        <div class="row">
            <div mb-4 mb-lg-0 col-lg-4 order-lg-2>
                <div class="sidebar pad2">
                    <div class="heading">
                        <h2>Our locations</h2>
                    </div>
                    <div id="listings" class="listings"></div>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-lg-8 order-lg-2" style="min-height:550px">
                <div id="map" class="map pad2 mapboxgl-map" style="width:100%;min-height:550px"></div>
            </div>
        </div>
    </div>
</section>






<section class=" features section-bg">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suburb)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="coordinates">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suburb)
                </td>
            </tr>
        }
    </table>
</section>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    @Scripts.Render("~/bundles/mapbox")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />