@model IEnumerable<YourLifeSaver.Models.shelter>

    @{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <br />
    <br />
    <br />
    <br />
    <style>
        .marker {
            background-image: url('/assets/img/marker.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
        }

        .mapboxgl-popup {
            max-width: 200px;
        }

        .mapboxgl-popup-content {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    <div id='map' style='height: 600px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWlzYWthZXJ1IiwiYSI6ImNrZ2RoOGFqcjAxcTMycm5wYzFhNWpqYWgifQ.Wr9fWRrTVVBznaTfuA0wfQ'; // replace this with your access token
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/misakaeru/ckgdjb4pa5zpy1blu3kq2a6fa', // replace this with your style URL
            center: [144.972, -37.820],
            zoom: 12.12
        });
// code from the next step will go here
        var geojson = {
            type: 'FeatureCollection',
            features: [
            {
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [144.972, -37.820]
                },
                properties: {
                    title: 'test1',
                    description: 'description1'
                }
            }]
        };

        // add markers to map
        geojson.features.forEach(function (marker) {

            // create a HTML element for each feature
            var el = document.createElement('div');
            el.className = 'marker';

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates).setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
                .addTo(map);
        });

    </script>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.s_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address_2)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Suburb)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
        {
            <tr class="coordinates">
                <td>
                    @Html.DisplayFor(modelItem => item.s_Name)
                </td>
                <td class="description">
                    @Html.DisplayFor(modelItem => item.Address_2)
                </td>

                @*<td class="suburb">
                        @Html.DisplayFor(modelItem => item.Suburb)
                    </td>*@

                <td class="longitude">
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>

                <td class="latitude">
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                    </td>*@
            </tr>
        }
        </tbody>
    </table>


    @section Scripts {

        @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
        @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

        <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
        </script>

    }


    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
